@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #1f242d;
}


a{
    color: #fff;
    text-decoration: none;
}


.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a{
    font-size: 20px;
    font-style: 500;
    transition: .5s;
}

.navbar ul li:hover a{
    color:#edd4f1 ;
}

.navbar ul li:hover a,
.navbar ul li.active a{
    color: #bd57d8
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}


.home-info h1{
    font-size: 55px;
}

.home-info h2{
    font-size: 32px;
    margin-top: -10px;
    display: inline-block;
}


.home-info h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #bd57d8;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text{
    25%,
    100%
    {
        display: none;
    }
}

.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
    padding-right: 30%;
    /* padding-left: 20%; */
}
.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #bd57d8;
    color: #bd57d8;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text{
    10%,
    100%{
        width: 0;
    }
    70%,
    90% {
        width: 100%;
    }
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #bd57d8;
    border: 2px solid #bd57d8;
    border-radius: 40px;
    box-shadow: 0 0 10px #bd57d8;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover{
    background: transparent;
    color: #bd57d8;
    box-shadow: none;
}

.home-info .btn-sci .sci{
    margin-left: 20px;
}

.home-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #bd57d8;
    border-radius: 50%;
    font-size: 20px;
    color: #bd57d8;
    margin: 0 8px;
}

.home-info .btn-sci .sci a:hover{
    background: #bd57d8;
    color: #1f242d;
    box-shadow: 0 0 10px #bd57d8;
}


.home-img .img-box{
    width: 32vw;
    position: relative;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: .1px solid #bd57d8;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img{
    position: absolute;
   top: 30px;
   display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

#aprops{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin-left: 60px;
}

.about-col-2{
    flex-basis: 60%;
    
}
.tab-titles{
    text-align: center;
}



.about-col-2 p{
    flex-basis: 60%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.tab-titles h3{
    padding-top: 20px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.tab-titiles{
    display: flex;
    margin: 20px 0 30px;
}


.bigdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: -10;
   
}

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-right: 0px 20px 0px 20px;
    margin-left:0px 20px 0px 20px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff9cbb3b);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: #fff;
    transition: height 0.5s;
   


}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}

.layer a{
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #000000;
    width: 60px;
    height: -60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}




